---
# -*- html -*- mode
nav:
  - text: Index
    href: /
  - text: Sacred Oaths
    href: /oaths
  - text: Articles
    href: /articles
  - text: Pageantry
    href: /pennsic
  - text: Articles from other Kingdoms
    href: /other-articles
  - text: Humor
    href: /humor
  - text: Art
    href: /art
  - text: Links
    href: /links
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Academie de Espee : {{ page.title }} </title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="language" content="en" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    </head>

    <body>
        <div class="margins">
            <div id="header">
                <center><a href='/'><img src="/images/scroll-s.gif" alt="Academie de Espee" width=690></a></center>

                <br><br>
                <div class="clear"></div>

                <div id="nav">
                    <div class="hlist">
                        <ul>
                            {% for t in page.nav %}
                            <li> <a href="{{ t.href }}">{{ t.text }}</a> </li>
                            {% if forloop.rindex > 1 %}
                                |
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div id="main">
            <h1>{{ page.title }}</h1>
            {{ content }}
            </div>

            <div id="footer">
            <!-- Copyright &copy; {{ site.time | date:"%Y" }} Aedan Aylwyn, Brian Caswell.  All Rights Reserved. -->
            </div>
        </div>
    </body>
</html>
